/*Style inputs with type="text",select elements and textareas*/
input[type=text], select, textarea{
    width: 100%;/*Full width*/
    padding: 12px;/*some padding*/
    border: 1px solid black;/*Black borders*/
    border-radius: 4px;/*rounded borders*/
    box-sizing: border-box;/*make sure that the padding and width stays in place*/
    margin-top: 6px;/*add top margin*/
    margin-bottom: 16px;/*add bottom margin*/
    resize: vertical;/*allow the user to vertcally resize the text area vertically*/
}
/*style the submit button with a specific backgound color etc*/
input[type=submit]{
    background-color: bisque;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/*when moving the mouse over the submit button, add a darker bisque color*/
input[type=submit]:hover{
    background-color: burlywood;
}
/*add a background color and some padding around the form*/
.container{
    border-radius: 5px;
    background-color: blanchedalmond;
    padding: 20px;
    font-size: 20px;
}
.head{
    font-size: 36px;
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
}
#kk{
    top: 8px;
    left: 16px;
}
#team{
    font-style: italic;
    font-size: 20px;
}